[submodule "src/sawyer_moveit"]
	path = src/sawyer_moveit
	url = git@github.com:UT-Austin-RobIn/sawyer_moveit.git
[submodule "src/sawyer_robot"]
	path = src/sawyer_robot
	url = git@github.com:RethinkRobotics/sawyer_robot.git
[submodule "src/moveit_tutorials"]
	path = src/moveit_tutorials
	url = git@github.com:ros-planning/moveit_tutorials.git
[submodule "src/intera_sdk"]
	path = src/intera_sdk
	url = git@github.com:RethinkRobotics/intera_sdk.git
[submodule "src/intera_common"]
	path = src/intera_common
	url = git@github.com:RethinkRobotics/intera_common.git
